@import 'header.scss';
@import 'overview-tile.scss';
@import 'overview-table.scss';
@import 'control-center.scss';
@import 'project-page.scss';
@import 'login.scss';
@import 'footer.scss';
@import 'index.scss';
body{
	background: #f1f1f1;
	&.login{
		background: #fff;
	}
}
#site-content-home{
	margin-top: 70px;
}
#site-content{
	margin-top: 100px;
}