@import 'header.scss';
@import 'overview-tile.scss';
@import 'overview-table.scss';
@import 'control-center.scss';
@import 'project-page.scss';
@import 'login.scss';
@import 'footer.scss';
@import 'index.scss';
body{
	background: #f1f1f1;
	&.login{
		background: #fff;
	}
}
#site-content-home{
	margin-top: 70px;
}
#site-content{
	margin: 100px auto 0;
    width: 96%;
}
.back-button{
	background: #000;
    padding: 10px 5px 10px 10px;
    border-radius: 32px;
    position: absolute;
    left: 1%;
    top: 8.5%;
	.glyphicon-arrow-left{
		font-size: 20px;
		letter-spacing: 10px;
		color: #fff;
	}
}