#footer{
	text-align: center;
	padding-top: 20px;
    background: #000;
    height: 55px;
	div{
		.footer-icon{
			float: left;
			margin-left: 3%;
		}
		span{
			text-align: center;
			color: #8ec640;
		}
	}
}