
.navbar{
    width:100%;     
    .navbar-brand{
        font-weight:bold;
        margin-top: 6px;
        font-size: 28px;
        font-family: Arial Narrow, sans-serif;
		color:black;
		.dab-icon{
			height:36px;
		}
    }
    .nav-right-content{
        position: absolute;
        left: 60%;
        top: 31%;
    }
    li.nav-text{
        display:inline;
        font-size: 18px;
		font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
		margin-top: 10px;
    }
    .btn-outline-success{
        color: 	#9ACD32;
        background-color: transparent;      
        position: relative;
        display:inline;
        border: 2px solid #9ACD32;
		padding: 10px 20px;
		margin-left: 100%;
		font-weight: bold;
		font-size: 15px;     
    } 
}
.login-container{
    position: relative;
    margin: 0 auto;
    text-align: left;   
    .login-image{
        overflow: hidden;
    }
	.content{
	    font-size: 20px;
		h1{
		    font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
			color:#9ACD32;
			font-size: 45px;
		}
		h4{
            font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-size: 20px;
            margin-bottom: 31px;
            font-weight: 400;
		}		
		button, .login-button{
			    background: #9ACD32;
			    padding: 10px 20px;
			    color: white;
			    font-size: 15px;
			    margin-top: 20px;
			    margin-left: 25%;
			    border-radius: 5px;
			    width: 20%;    
		}
		form{
			font-size: 15px;				
			div{
				color: darkgrey;
				margin: 10px 0;
			}
			a{
				text-decoration: none;
				color: blue;
			}
			input{			
				padding: 15px 100px 15px 20px;
				background: white;
				width: 70%;
				border: 1px solid #80808047;
				border-radius: 6px;
				font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;		
			}
		}
	}
}