.our-team{
    background: #000;
    overflow: hidden;
    h1{
        text-align: center;
        color: #fff;
        font-size: 35px;
        margin-top: 50px;
        .green-head{
            color: #9ACD32;
        }
    }
    .row{
        text-align: center;
        padding: 10px 0;
        img{
            border-radius: 100%;
        }
    }
}