.our-team{
    background: #000;
    overflow: hidden;
    h1{
        text-align: center;
        color: #fff;
        font-size: 35px;
        margin-top: 5px;
        .green-head{
            color: #9ACD32;
        }
    }
    .row{
        text-align: center;
        padding: 2px 0;
        img{
            border-radius: 100%;
        }
        p{
            font-size: 20px;
            color: #fff;
            text-align: center;
        }
    }
}