.overview-wrapper{
	text-align: center;
	.tile-wrapper{
		display: inline-block;
	        border: 10px solid #333333;
		    margin: 30px 10px;
		    text-align: center;
		    width: 230px;
		    height: 230px;
		    border-radius: 50%;
		    cursor: pointer;
	    &.active{
	    	background: #333333;
	    	color: #fff;
	    }
	    .number{
	        font-size: 90px;
	        font-family: sans-serif;	        
		    padding-top: 30px;
		    margin-bottom: 0;
	    }
	    .name{
	        font-size: 20px;
	        font-weight: bold;
	        font-family: sans-serif;
	    }
	}
}