.top-heading{
	margin-top: 50px;
	border-top: 1px solid #333333;
	h2{
		margin-top: -1.3%;
	    background: #fff;
	    width: 130px;
	    margin-left: 3%;
	    text-align: center;
	}
}
.status-wrapper{
	margin: 10px auto;
	.border-box{
		border: 1px solid #333333;
		padding: 0;
		margin: 0 2.7%;		
		text-align: center;
		.headline{
			background: #333333;
			padding: 10px;
			&:after {
			    content:'';
			    position: absolute;
			    left: 0;
			    margin: 0 auto;
			    width: 0;
			    height: 0;
			    border-top: solid 30px #333333;
			    border-left: solid 30px transparent;
			    border-right: solid 30px transparent;
			}
			h3{
				color: #fff;
			}
		}
		p{
			padding: 20px 10px;
			font-size: 20px;
		}
	}
}
.dataTables_wrapper{
 	border-radius: 20px;
	padding: 20px;
	width: 90%;
    margin: 0 auto;
    -webkit-box-shadow: 0px -3px 39px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -3px 39px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -3px 39px 0px rgba(0,0,0,0.75);
 	.dataTables_filter{
	 	 float: none;
	 	 text-align: center;
	 	 label{
	 	 	width: 100%;
	 	 	input{
	 	 		width: 100%;
	 	 		margin: 0;
	 	 		border-radius: 30px;
    			padding: 8px;
    			font-size: 18px;
    			font-family: cursive;
    			font-weight: 100;
	 	 	}
	 	 }
 	} 
    &:before {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:before {
        border-color: rgba(113, 158, 206, 0);
        border-bottom-color: #fff;
        border-width: 20px;
        left: 41%;
        margin-left: -20px;
    }
}
table{
    margin: 0 auto;
    thead{
        background: lightgrey;
    }
    th,td{
        padding: 10px;
    }
    tr{
    	border: 1px solid #dcdcdc;
    	&:hover{
    		border: 1px solid #ADFF2F;
    	}
    }
}